@import "tailwindcss";

@theme {
    --color-primary: #ff5252;
}

@layer components {
    .btn-primary {
        @apply bg-[--color-primary] text-white px-4 py-2 rounded-lg;
    }
}

/* *{
    margin: 0px;
    padding: 0x;
    box-sizing: border-box;
} */
 .active{
    color: #ff5252;
 }

.container {
    width: 98%;
    margin: auto;
}
.font15{
    font-size: 15px;
}
.font14{
 font-size: 14px;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;

}

header .top-strip {
    border-top: 1px solid rgba(0, 0 0, .0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.link{
    font-size: 15px;
}

.link:hover {
    color: #ff5252;
}
.nav li:hover .submenu{
        display: block !important;
        z-index: 99;
        background-color: white;
}

 .submenu ul a li button{
    color: rgba(0,0,0,0.8);
    font-weight: 500;
 }
 .submenu ul a li button:hover{
    color: #ff5252 !important;

 }

.nav li .submenu ul li:hover .subbmenu{
    display: block !important;
    top:200x;
    background-color: white;
}
